.article_alone_container
{
  @include alone_card;  
  max-height: 200px;
}

.article {
  &_title {
    font-size: 120%;
    padding-top: 0.7em;
  }
  &_start-of-article {
    padding-left: 1em;
    text-align: left;
    overflow: hidden;
    height: 10em;	
  }
  &_box_author_date
  {
    padding-top: 1em;
    justify-content: space-between;
    font-size: 85%;
  }
  &_read-more_text-align {  
    text-align:right;
    height: 1.5em;
  }
  &_tag {
  font-size: 70%;
  word-spacing: 1em;
  max-height: 6.5em;
  overflow: hidden;
  } 
}

.article_div {
  &_images {
    width: 40%;
    padding-right: 1em;
  }
  &_text {
    width: 55%;
  }
}


.article_container
{
  flex-wrap: wrap;	
	justify-content: space-between;
}
