
    
    .contact {
        font-size: 120%;
        line-height: 180%;
        font-weight: bold;

        &_container {
            width: 20%;
            height: fit-content;
            vertical-align: middle;
            margin: 3em 0em;
            cursor: pointer;
            }
        &_img {
            width: 40%;
        }
        &_i {
            font-size: 3rem;
            &_for_div {
                // background-color: $light_blue_1;
                // padding: 1rem;
                // border-radius: 50%;
                // width: 2.6rem;
                // height: 2.6rem;
            }
        }
    }