.fieldset {
    &_width_p2_p1 {
        padding: 2em;
        width: calc(100% - 4em);
    }
    &_article {
        border-color: $red;
        width: 100%;
        margin-right: auto;
        padding: 1em 2em;
        max-height: 11em;
        line-height: 250%;
        font-size: $size_120;
        &_input_width {width: 80%;}
    }
    &_tags {
        border: solid $border_width $red;
        padding: .5em 2em;
        line-height: 250%;
        font-size: 80%;
        
        &_word {
            word-spacing: 1em;
        }
        legend { padding: 0em .5em;
            font-weight: bold;}
        
    }
    &_title{
        font-size: $size_150;
    }
    &_roll-up {
        font-size: 70%;
        cursor: pointer;
        &:hover
        {
            visibility: hidden;
        }

    }
    &_border {
        &_primary {
            border: solid $border_width $red;
            padding: 0.7rem;
        }
        &_secondary {
            padding: 10px;     
            border: solid $border_width $light_blue_2;
            border-bottom: solid $border_width $light_blue;
            &:hover {
                border-bottom: solid $border_width $rose;
                transition: width .5s ease, background-color .5s ease;
            }
            &:after {
                border-bottom: solid $border_width $light_blue_2;
                transition: width .5s ease, background-color .5s ease;
            }
            &:nth-child(n+2){
                margin-top: 1em;
            }
            legend { padding: 0em .5em;
            font-weight: bold;}
        }
    }

    &_form_password {
        border: solid $border_width $light_blue_1;

    }
}
.input_big {width: 100%; height: 1.5em;}
.input_middle {width: 75%; height: 1.5em;}

.padding_date {
padding: 0em 1em;
}

.fieldset_size {
    &_article {
        width: 80%;
        padding-top: 1em;
        padding-bottom: 5em;
    }

}
