.textarea_style {
  position: relative;
  margin: 45px 0;
}



.textarea_style textarea{
  resize: none;
  top: -3rem;
  // background: none;
  // color: #c6c6c6;
  // font-size: 18px;
  // padding: 10px 10px 10px 5px;
  // display: block;
  // width: 320px;
  // border: none;
  // border-radius: 0;
  // border-bottom: 1px solid #c6c6c6;
  margin-top: .8em;
  display: block;
  width: 100%;
  // padding: 0 10px;
  height: 16em;
  line-height: 140%;
  background: none;
  border-width: 0;
  border-bottom: 2px solid $light_blue;
  transition: all 0.2s ease;
  &:hover {
    border-bottom: 2px solid $rose;
  } 
}

.textarea_style textarea:focus {
  outline: none;
  border-color: #F77A52;
}

.textarea_style textarea:focus ~ .textarea_style_label {
  top: -14px;
  // font-size: 12px;
  // color: #2196F3;
  border-color: #F77A52;
  color: #F77A52;
  // transform: translateY(-60px);
  margin-left: -13px;
  font-size: 90%;
  font-weight: 400;
  outline: 0;
}



.textarea_filled + label{
  top: -14px;
  // font-size: 12px;
  // color: #2196F3;
  border-color: #F77A52;
  color: #F77A52;
  // transform: translateY(-60px);
  margin-left: -13px;
  font-size: 90%;
  font-weight: 400;
  outline: 0;
}










.textarea_style textarea:focus ~ .bar:before {
  width: 320px;
}

input[type="password"] {
  letter-spacing: 0.3em;
}

.textarea_style_label {
  color: #9d959d;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  padding-left: 1em;
  left: 0;
  top: 10px;
  -webkit-transition: 300ms ease all;
  transition: 300ms ease all;
  line-height: 0px;
}


.textarea_height_small textarea {
	height: 3em;
}