
.main {
&_block_bg {
    background-color:#f5f5fd;
}
  
&_banner {
    width: 100%;
    border-top:solid $border_width $red;
    border-bottom:solid $border_width $dark_blue;
    transition-duration: .2s;
    transition-delay: .2s;
    &:hover {
        background: $light_blue_2;
        // box-shadow: 0 0 10px 10px $light_blue_2;
        box-shadow: 0 0 3px 4px $light_blue_2;
        transition: .2s ease; 
    }
    &_order {

    width: fit-content;
    text-align: center;
    font-size: 160%;
    padding: 2em 0em;
    cursor: pointer;
    line-height: 140%;

        &_text {
            text-align: center;
            width: 85%;
        }
        &_arrow {
            cursor: pointer;
        position: relative;
        width: 80px;
        height: 50px;
        margin: auto;
        // padding-left: 1em;
        animation: arrow-1 1s linear infinite;
        div {
                position: relative;
                top: 20px;
                width: 90px;
                height: 10px;
                background-color:$dark_blue;
                box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
                left:0;
                display: block;
                &::after {
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 10px;
                    top: -11px;
                    right: -8px;
                    background-color: $purple;
            //      background-color: #337AB7;
                    transform: rotate(45deg);
                }
                &::before {
                    content: '';
                    position: absolute;
                    width: 40px;
                    height: 10px;
                    top: 11px;
                    right: -8px;
                    background-color: #337AB7;
                    box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
                    transform: rotate(-45deg);
                }
            }
            @keyframes main_banner_order {
                0% {
                    left:0;
                }
                50% {
                    left:10px;
                }
                100% {
                    left:0;
                }
            }
        }

    }
}



    .arrow-1 {
        cursor: pointer;
        position: relative;
        width: 80px;
        height: 50px;
        margin: 20px;
        animation: arrow-1 1s linear infinite;
    }
    .arrow-1 div {
        position: relative;
        top: 20px;
        width: 90px;
        height: 10px;
        background-color: #337AB7;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        left:0;
        display: block;
    }
    .arrow-1 div::after {
        content: '';
        position: absolute;
        width: 40px;
        height: 10px;
        top: -11px;
        right: -8px;
        background-color: #337AB7;
        transform: rotate(45deg);
    }
    .arrow-1 div::before {
        content: '';
        position: absolute;
        width: 40px;
        height: 10px;
        top: 11px;
        right: -8px;
        background-color: #337AB7;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
        transform: rotate(-45deg);
    }
    // .arrow-1:hover {
    //     animation: arrow-1 1s linear infinite;
    // }
    @keyframes arrow-1 {
        0% {
            left:0;
        }
        50% {
            left:10px;
        }
        100% {
            left:0;
        }
    }


    &_order {
        
        // height: 23em;
        // width: 17em;
        height: 29em;
        overflow: hidden;
        padding: .7em;
        cursor: pointer;
        border:solid $border_width $light_blue;
        &_list {
        text-align: left;
        font-size: 110%; 
        margin-block-start: 0em;
        padding-inline-start: 0em;
        line-height: 160%;
        // overflow: hidden;
        list-style: none;
        // height: 5.5em;
        height: 18em;
        overflow: hidden;
            &_price {
                font-size: 120%; 
                font-weight: bold;
            }
        }
        &_title {
            padding-bottom: .5em;
            text-align: center;
            line-height: 140%;
            margin: auto;
            font-size: 150%; 
            font-weight: bold;
            flex-grow: 2;
            height: 3em;
        }	

    }

    &_contact {
        // background-color: rgb(237, 237, 250);
        &_title {           
            padding: 1em 4em;
            font-size: 130%; 
            width: 80%; 
            text-align: center; 
            margin: auto;
            line-height: 200%;
            letter-spacing: 1.4px;
            &_div {
                background-color: #eff3fd;
                // border-right:solid $border_width $light_blue;
                // border-left:solid $border_width $light_blue;
                // box-shadow: 0 0 10px 10px #eff3fd;

                box-shadow: 0 0 3px 4px #eff3fd;
            }
        }
    }
    &_bg_img {
        background-image: url(/images/bg8.jpg); /* Цвет фона и путь к файлу */
        // opacity: .9;
        // color: #fff; /* Цвет текста */
        // box-shadow: 0 0 5px 10px #c3ebfd;
    }
    &_slider {
        position: relative;
        margin: auto;
        // padding: 1em;
        &_text {
            line-height: 170%;
        background: rgba(255, 255, 255, 0.9);
        padding: 1em;
        width: 20em;
        height: 23em;
        transform: translate(-50%, -50%);
        position: absolute; 
        top: 50%; 
        left: 50%;
        color: #000000;
        }
    }

    &_type-soft {
        // width: 25%;
        font-size: 80%;
        transition: .1s ease;

        color: slategray;
        &:hover {
            font-size: 82%;
            // transition-duration: .1s;
            // transition-delay: .1s;
            transition: .1s ease;

        }
        &_active {

            width: 20%;
            font-size: 110%;
            color: $gray;
        }
    }
    &_stack {
        width: 30%;
        margin: 1rem 0rem;
        border-bottom:solid $border_width $light_blue;
        &_all { flex-wrap: wrap; }
        &_div {
            
            flex-wrap: wrap;

            &_icon {


                width: 20%;
            }
            &_word {

                font-size: 110%;
                margin-right: 1.5rem;
                margin-bottom: .5rem;
            }

        }
        &_cap {
            font-size: 130%;
            margin-bottom: 2rem;
            
        }

    }
} 

.text_left {
    text-align: left; 
}

.text_right {
    text-align: right; 
}

.text_center {
    text-align: center; 
}









.div_main {

    a {	text-decoration: none;
    	color: $gray;}

    .ma5slider .slides{height:481.906px;}

    .ma5slider .slide{
        text-align: unset;
        font-size: unset;
    }

    .ma5slider .slide img,.ma5slider>img.slide{
        display: unset;
        outline:unset;
        height:unset;
    }

    // .slide-area{max-height:783.906px;}

    .ma5slider>.slides>:first-child{
        text-align:unset;
        font-size:unset;
    }

}