// Малые девайсы («ландшафтные», < 768px)
@media (max-width: 767.98px) {
    // .max_width_70em {
    //     max-width: 100%;
    // }
    // .width_50 {
    //     width: 100%;
    // }
    // .fix_width {
    //     // max-width: 767.98px;
    //     width: 95%;
    //     margin: auto;
    // }
    .flex_row {
        flex-wrap: wrap;
    }
    // .header-bottom {
    //     display: none;
    // }
    .flex_nowrap {
        flex-wrap: nowrap;
    }
    .column-3 {
        justify-content: space-between;
        width: 100%;
        margin: auto;
        &:nth-child(n+2){
            margin-left: 0em;
            padding-top: 1.4em;
        }
    }
    .find_column-3 {
        justify-content: space-between;
        width: 100%;
        margin: auto;
        &:nth-child(n+2){
            margin-left: 0em;
            padding-top: 1.4em;
        }
    }
    // .header_container_social {
    //     width: 70%;
    // }
    // .header_container_mail_phone {
    //     width: 50%;
    // }
    // .header_i {
    //     font-size: 1.5rem;
    // }
    // .header_i_for_div {
    //     width: 2rem;
    //     height: 2rem;
    // }
    .header_disp_none {
        display: none;
    }
    .search_disp {
        &_f {
            display: none;
        }
        &_r_u{
            display: none;
        }
        &_r_d{
            display: inline;
        }
    }
    .order_pay {
        border: none;
        padding: 0em;
        margin-top: 1em;
    }
    .order_search_size {
        width: 100%;
    }
    .software_tag_second {
        display: block;
    }
    .software_tag_first {
        display: none;
    }
    .software_column-2 {
        width: 100%;
        &:nth-child(n+2){
            padding-top: 1em;
        }
    }
    .ord_column-3 {
        justify-content: space-between;
        width: 100%;
        &:nth-child(n+2){
            margin-left: 0em;
        }
    }
    .main_contact_title {
        padding: 1em 0em;
        width: 100%;
    }
    .main_type-soft_active {
        width: 100%;
    }
    .text_left {
        text-align: center; 
    }
    
    .text_right {
        text-align: center; 
    }
    .main_banner_order_text {
        width: 100%;
    }
    .header_container_mail_phone {
        align-self: center;
        width: 100%;
    }
}