.widget {
    // width: 20em;
    &_disp {

        &_two {}
        &_three {}
    }

    // max-height: 25em;
    // padding: .7em;
    padding: 11.2px;
    cursor: pointer;
    border:solid $border_width $light_blue;
    background-color: white;

    &_marker::before {
        /* list-style-image:url(icons/marker_list.png); */
        content: "\273D";
        display: inline-block; /* Расстояние между точкой и текстом */
        // width: 1.4em;
      }
      &_list {
        font-size: 80%; 
        margin-block-start: 0em;
        padding-inline-start: 0em;
        line-height: 160%;
        overflow: hidden;
        list-style: none;
        // height: 4.8em;	
        height:76.8px;
      }
      &:hover { 
        // color: #fff; /* цвет текста */
        // background-color: opacify($light_blue_2, 00.1em); 
        background: $light_blue_2; 
    } /* при наведении курсора мышки */

    &_arrows {
        font-size: 300%;
        color: $light_blue;
        cursor: pointer;
        &:hover { color: $dark_blue; }
    }

    &_section{
        width: 30%;
        margin-bottom: 1em;
        // width: 20%;
        // &:nth-child(n+3){
        //     padding-left: 1.5em;
        // }
    }


    &_article_box {
        position: relative;
        margin: auto;
        // padding: 1em;
        &_text {
        
            background: rgba(255, 255, 255, 0.9);
            padding: 0.3em;
            width: fit-content;
            height: fit-content;
            position: absolute;
            color: #000000;
            right: 0;
            top: 0;
            letter-spacing: 1px;
        }
    }

    &_bt_h { height: 55px;}
    
}
.widget_div {
    &_img {
        width: 100%;
        height: 160px;
        overflow: hidden;
        // margin-top: .5em;
        margin-top: 8px;
    }
    &_title {
        text-align: center;
        line-height: 140%;
        margin: auto;
        font-size: 110%;  
        // height: 2.8em;
        height: 44.8px;
        overflow: hidden;
        vertical-align: middle;
    }
    &_date {
        text-align: center;
        font-size: 80%;  
        margin: auto;
    }  
}



.div_horizontal_soft {

    width: 100%;
    margin: 0em auto;

    .widget_div_img {
        width: 100%;
        height: 15em;
        overflow: hidden;
        margin-top: 8px;
    }

}





