
.fix_width
{
	/* max-width: 1024px; */
	/* max-width: 64em; */
	/* width: 100vw; */

max-width: 80%;
margin: 0 auto;

	  /* text-align: center; */
		/* max-width: 1600px; */
}
.articles {
border: 5px solid #87CEEB;
font-family: 'Montserrat', sans-serif;
width: 50%;
height: 33%;
margin: 0 0px 20px 0px;
padding-top: 0px;
/*   text-align: center; */
/* text-align: right; */
font-size: 20px;
background-color: #F0F8FF;
}
.title {
/* text-align: right; */
font-size: 20px;
/* color: #be290e; */
}

.begin {
/* text-align: right; */
font-size: 20px;
  text-align: bottom;
/* color: #be290e; */
}

.margin {
margin-top: 10px;
}
/* .articles:hover { */
/* border: 5px solid #1E90FF; */
/* width: 51%; */
/* height: 34%; */
/* } */
.images-position {
/* height: 150px; */
/* width: 120px; */
padding-top: 10px;
padding-left: 10px;
}


.images_div {
height: 60%;
width: 40%;
/*padding-top: 10px;
/* padding-left: 10px; */
}


.images {
/* height: 200px; */
width: 100%;
/*padding-top: 10px;
/* padding-left: 10px; */
}

.text {
/* height: 200px; */
/* width: 50%; */
/*padding-top: 10px;
/* padding-left: 10px; */
}

.container
{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
}

.container_article
{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  
  height: 220px;
  /* justify-content: space-between; */
  
  
  
 /* height: 300px;
  overflow: hidden;*/
}

.container-img-author
{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  /* height: 300px; */
}


.container_img_text
{
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 300px; */
}

/* .container-article:hover { */
/* border: 5px solid #1E90FF; */
/* width: 51%; */
/* height: 34%; */
/* } */
.flex_item
{
	width:50%;
	flex: 0 1 auto;
}

.flex_item_img_text
{
	width:100%;
	flex: 0 1 auto;
}

.column-2
{
		width: calc(50% - 0.5em);
		margin-left:0.125em;
		margin-right:0.125em;
		
}

.box
{
  /* background: red; */
  /* color: white; */
  font-size: 60px;
  text-align: center;
  
  /* line-height: 200px; */
      /* padding: 25px; */
  /* width: 200px; */
  /* height: 200px; */

    background-color: #F0F8FF;
	  /* background-color: yellow; */
}

/* .box:hover { */
/* border: 5px solid #1E90FF; */
/* width: 51%; */
/* height: 34%; */
/* } */

.box_img_author
{
  /* background: red; */
  /* color: white; */
  /* font-size: 60px; */
  text-align: center;
    word-break: break-all;
  /* line-height: 200px; */
      /* margin: 10px; */
  /* width: 200px; */
  /* height: 200px; */

    /* background-color: #F0F8FF; */
	  /* background-color: yellow; */
}

.box_author_date
{
  /* background: red; */
  /* color: white; */
  /* font-size: 60px; */
    font-size: 12px;
  text-align: center;
    word-break: break-all;
  /* line-height: 200px; */
      /* margin: 10px; */
  /* width: 200px; */
  /* height: 200px; */

    /* background-color: #F0F8FF; */
	  /* background-color: yellow; */
}

.box_img_text
{
  /* background: red; */
  /* color: white; */
  /* font-size: 60px; */
  /* text-align: center; */
  display:block;
 /* padding-top: 10px;
  /* width: 200px; */
  /* height: 200px; */
  /*margin: 20px;
  
    /* background-color: #F0F8FF; */
}

.box_author
{
  /* background: red; */
  /* color: white; */
  font-size: 12px;
  text-align: center;
      word-break: break-all;
  /* line-height: 5px; */
 /* padding-top: 10px;
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 20px; */
    /* background-color: #F0F8FF; */
}

