
.fix_width
{
	/* max-width: 1024px; */
	/* max-width: 64em; */
	/* width: 100vw; */

max-width: 80%;
margin: 0 auto;
font-family: 'Montserrat', 'Arial', sans-serif;

	  /* text-align: center; */
		/* max-width: 1600px; */
}
.articles {
border: 5px solid #87CEEB;
/* font-family: 'Montserrat', sans-serif; */
width: 50%;
height: 33%;
margin: 0 0px 20px 0px;
padding-top: 0px;
/*   text-align: center; */
/* text-align: right; */
font-size: 18px;
background-color: #F0F8FF;
}
.title {
/* text-align: right; */
font-size: 20px;
padding-top: 0.7em;
/* color: #be290e; */
}

.begin {
/* text-align: right; */
font-size: 14px;
  /* text-align: bottom; */
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: left;
  overflow: hidden;
  height: 3em;	

/* color: #be290e; */
}

.margin {
margin-top: 10px;
}
/* .articles:hover { */
/* border: 5px solid #1E90FF; */
/* width: 51%; */
/* height: 34%; */
/* } */
.images-position {
/* height: 150px; */
/* width: 120px; */
padding-top: 10px;
padding-left: 10px;
}


.images_div {
/* height: 60%; */
width: 35%;
padding: 0.45em;
/* padding-left: 10px; */
}


.images {
/* height: 200px; */
width: 100%;

/*padding-top: 10px;
/* padding-left: 10px; */
}

.text {
	width: 65%;
padding: 0.45em;
}



.line_text { 
    border-left: 2px solid #ccc; /* Параметры линии */ 
    margin-top: 10px; /* Отступ слева */ 
    padding-left: 0.1em; /* Расстояние от линии до текста */
	/* padding-right: 0.3em; */
	height: 80%;
	/* text-align: center; */
   }

.container
{
  /* font-family: 'Montserrat', sans-serif; */
  display: flex;
  flex-direction: row;
  /* flex-template: repeat(3, 1fr) / repeat(3, 1fr); */
  /* gap: 20px 5px; */
    flex-wrap: wrap;
	
	justify-content: space-between;
  gap: 40px;
}

.container_article
{
  /* font-family: 'Montserrat', sans-serif; */
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  
  max-height: 200px;
  /* justify-content: space-between; */
  
  
  
 /* height: 300px;
  overflow: hidden;*/
}

.container-img-author
{
  /* font-family: 'Montserrat', sans-serif; */
  display: flex;
  flex-direction: column;
  /* height: 300px; */
}


.container_img_text
{
  /* font-family: 'Montserrat', sans-serif; */
  display: flex;
  flex-direction: row;
  width: 100%;
  /* height: 300px; */
}

/* .container-article:hover { */
/* border: 5px solid #1E90FF; */
/* width: 51%; */
/* height: 34%; */
/* } */
.flex_item
{
	width:50%;
	flex: 0 1 auto;
}

.flex_item_img_text
{
	width:100%;
	flex: 0 1 auto;
}

.column-2
{
		width: calc(50% - 0.5em);
		/* margin-left:0.125em; */
		/* margin-right:0.125em; */
		  justify-content: space-between;
		
}

.box
{
  /* background: red; */
  /* color: white; */
  /* font-size: 60px; */
  text-align: center;
  
  /* line-height: 200px; */
      /* padding: 25px; */
  /* width: 200px; */
  /* height: 200px; */

   
	
	  /* background-color: yellow; */
}
.box:nth-child(n+3){
	padding-top: 1em;
}

.blue_bg {
 background-color: #F0F8FF;	
}

/* .box:hover { */
/* border: 5px solid #1E90FF; */
/* width: 51%; */
/* height: 34%; */
/* } */

.box_author_date
{
	display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* padding: 0.45em; */

  /* background: red; */
  /* color: white; */
  font-size: 12px;
  /* text-align: center; */
    /* word-break: break-all; */
  /* line-height: 200px; */
      /* margin: 10px; */
  /* width: 200px; */
  /* height: 200px; */

    /* background-color: #F0F8FF; */
	  /* background-color: yellow; */
}

.author_date
{
  /* background: red; */
  /* color: white; */
  /* font-size: 60px; */
    font-size: 9px;
  text-align: center;
    word-break: break-all;
  /* line-height: 200px; */
      /* margin: 10px; */
  /* width: 200px; */
  /* height: 200px; */

    /* background-color: #F0F8FF; */
	  /* background-color: yellow; */
}

.box_img_text
{
  /* background: red; */
  /* color: white; */
  /* font-size: 60px; */
  /* text-align: center; */
  display:block;
 /* padding-top: 10px;
  /* width: 200px; */
  /* height: 200px; */
  /*margin: 20px;
  
    /* background-color: #F0F8FF; */
}

.box_author
{
  /* background: red; */
  /* color: white; */
  font-size: 12px;
  text-align: center;
      word-break: break-all;
  /* line-height: 5px; */
 /* padding-top: 10px;
  /* width: 200px; */
  /* height: 200px; */
  /* margin: 20px; */
    /* background-color: #F0F8FF; */
}

.link_style {
text-decoration: none;
color: #2F4F4F;

}

.link_style_border {
text-decoration: none;
color: #2F4F4F;
}



.link_style:hover {
    color: red; /* Цвет ссылки */
	
} 

.link_style_border:hover {
	border-bottom:solid 0.1em red;
    /* text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: red; /* Цвет ссылки */
} 



.border-bottom:hover {
	border-bottom: 2px;
    /* text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */

   } 



.read_padding {  
/* padding-right: 0.45em; */ 
text-align:right;
height: 1.5em;
}


.link {  
	text-decoration: none;	
	overflow: hidden;	
	
	/* padding-right: 30px; */
	font-size: 12px;
    /* color: #F5E2CD; */
	color: blue;
	
}
.link:before {    
    /* content: ""; */
    position: absolute;
    top: 0;
	left: 0;
    width: 100%;
	bottom: 0;
    height: .125rem;
	margin: auto;
	background: #F09EA3;
    transform: scaleX(.2);
    transform-origin: left center;
    z-index: 0;
	transition: .6s cubic-bezier(.6, .01, 0, 1);
}

/* .link span { */
	/* display: inline-block; */
    /* position: relative; */
    /* transform: translateX(-200%);     */
    /* transition: .6s cubic-bezier(.6, .01, 0, 1); */
/* } */


/* .item-footer { */
	
/* } */



.container_article:hover .link span {
    transform: translateX(0%);
}
.container_article:hover .link:before {
	transform-origin: right center;
}
/* @media (min-width: 768px) { */
	/* .container_article { */
		/* flex-basis: 50%; */
		/* flex-shrink: 0;				 */
	/* } */
/* } */
/* @media (min-width: 960px) { */
	/* .container_article { */
		/* flex-basis: 33.333333333%;			 */
	/* } */
/* } */
