
.header_container_height{
	height: 15em;
}

 .header-top_container{                                                         /*  ЦВЕТ !!!!!!!!!!! */
	height: 5em;
	/* padding-bottom:40px; */
	display: flex; 	
	  flex-direction: row;
	  width: 100%;
	/* Распределяем элементы внутри шапки */
	/* justify-content: space-between; */
	 /* flex-wrap: wrap; */
	/* Выравниваем элементы вертикально по центру. */
	/* align-items: center; */
	
	
/* background: blue; */
}

.header-top_border{                                                         /*  ЦВЕТ !!!!!!!!!!! */
border-bottom:solid 0.1em red;
width: 100%;
}


.header_container_social {
	justify-content: space-around;
	width: 25%;
	    height: 60%;
		 /* margin-top: 1em; */
		 align-items: center;
		 align-self: center;
}

.header_container_mail_phone {
			 align-items: center;
		 align-self: center;
}

.header_social_mail {  margin: auto; }
.header_social_phone {  margin: auto; }

.header-social{

/* width: 9%; */
    /* height: 3em; */
	/* word-spacing: 5px; */

}


.header-margin_left-top{

margin-left: 5em;
    margin-top: 1em;
/* width: 9%; */
    height: 3em;
	/* word-spacing: 5px; */

}

.text-align {
text-align:center
}

  .header-top {width:100%; word-spacing:5px; padding-bottom:20px; text-align:center}

  .header-bottom {width:100%; word-spacing:5px; padding-bottom:10px; }
  

.icon {   
    height: 2.3em;
}

  .logo {width:100%;}
  
  .header-logo { width: 6em;}
	
.header-logo_name {
	    margin-top: 1em;
}
  
 
.header_navbar {
	/* width: 100%; */
	/* display: table; */
}
.header_navbar ul {                                                         /*  ЦВЕТ !!!!!!!!!!! */
	display: table-row;
}
.header_navbar li {                                                         /*  ЦВЕТ !!!!!!!!!!! */
	display: table-cell;
	background: white;
}
.header_navbar ul li:hover, .menu a:hover {                                 /*  ЦВЕТ !!!!!!!!!!! */
 /* background: gray; */ 
	border-bottom:solid 0.1em red;
}
.header_navbar li a {                                                         /*  ЦВЕТ !!!!!!!!!!! */
	display: block;
	padding: 0.8em 2.5em;
	color: black;
	text-align: center;
}



.footer_container {
	height: 10em;
	border-top:solid 0.1em red;
width: 100%;
    text-align: center;
}

.footer_all-link {
	    line-height: 200%;
	    width: 20%;
    font-size: 120%;
}


.footer_container_social {
	justify-content: space-around;
	width: 50%;
	    height: 60%;
		 /* margin-top: 1em; */
		 align-items: center;
		 align-self: center;
}