.button_search {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 2em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 20% 0%;
    transition-duration: .2s;
    transition-delay: .1s;
    &:hover { 
        color: #fff; /* цвет текста */
        background: rgb(232,95,76); 
        transition: .1s ease;
    } /* при наведении курсора мышки */
    &:active { 
        color: #fff; /* цвет текста */
        background: rgb(152,15,0); 
    } /* при нажатии */
}


.button_reset {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .3em .5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 20% 0%;
    transition-duration: .2s;
    transition-delay: .1s;
    &:hover { 
        color: #fff; /* цвет текста */
        background: rgb(232,95,76); 
        transition: .1s ease;
    } /* при наведении курсора мышки */
    &:active { 
        color: #fff; /* цвет текста */
        background: rgb(152,15,0); 
    } /* при нажатии */
}

.button_show-more {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: #d44b38; /* фон кнопки */
    padding: .7em 6em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 20% 0%;
    border: none;
    transition-duration: .2s;
    transition-delay: .1s;
    &:hover { 
        color: #fff; /* цвет текста */
        background: #e85f4c;
        transition: .1s ease; 
    } /* при наведении курсора мышки */
    &:active { 
        color: #fff; /* цвет текста */
        background: rgb(152,15,0); 
    } /* при нажатии */   
}

.button_pay {
    @include mix_button_pay;
    padding: .9em;
    // width: 32em;

     
      &_width {width:80%;}
      &_width_70 {width:70%;}
      &_width_50 {width:50%;}
      &_width_full {width:calc(100% - 80px);}
}
 
.button_like_pos {
    margin-left: 1em;
    margin-top: .5em;
}


.button_with_icon {
    &_i {
        font-size: 150%;
        // text-align: start;
        vertical-align: middle;
        padding-right: 6px;
    }
}

.button_delicate {
    @extend .link_style_none;
    // color: #fff; /* цвет текста */
    // text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: $light_blue_1; /* фон кнопки */
    padding: .3em .5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    // border-radius: 20% 0%;
    // transition-duration: .2s;
    // transition-delay: .1s;
    &:hover { 
        // color: #fff; /* цвет текста */
        background: $light_blue_2; 
    } /* при наведении курсора мышки */
    &:active { 
        // color: #fff; /* цвет текста */
        // background: $da_blue; 
    } /* при нажатии */
}

.button_like {
    font-size: 350%;
    cursor: pointer;
    color: lightgrey;
    vertical-align: middle;
    // text-shadow: 1px 1px #bbb;
    &:hover {
        color:$red;
        // text-shadow: 1px 1px #bbb;
    }
}




// .like-area {
// 	overflow: hidden;
//     // width: 265px;
//     // width: 20em;
// 	// margin: 0 auto;
// }
// .like-area:not(:checked) > input {
// 	display: none;
// }
// .like-area:not(:checked) > label {
// 	float: right;
// 	width: 42px;
// 	padding: 0;
// 	cursor: pointer;
// 	font-size: 50px;
// 	line-height: 50px;
// 	color: lightgrey;
// 	text-shadow: 1px 1px #bbb;
// }
// .like-area:not(:checked) > label:before {
//     // content: '★';
//     content: '❤';
    
// }
// .like-area > input:checked ~ label {
// 	color: gold;
// 	text-shadow: 1px 1px #c60;
// }
// .like-area:not(:checked) > label:hover,
// .like-area:not(:checked) > label:hover ~ label {
// 	color: gold;
// }
// .like-area > input:checked + label:hover,
// .like-area > input:checked + label:hover ~ label,
// .like-area > input:checked ~ label:hover,
// .like-area > input:checked ~ label:hover ~ label,
// .like-area > label:hover ~ input:checked ~ label {
// 	color: gold;
// 	text-shadow: 1px 1px goldenrod;
// }
// .like-area > label:active {
// 	position: relative;
// }