.button_search {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 2em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 20% 0%;
    transition-duration: .2s;
    transition-delay: .1s;
    &:hover { 
        color: #fff; /* цвет текста */
        background: rgb(232,95,76); 
    } /* при наведении курсора мышки */
    &:active { 
        color: #fff; /* цвет текста */
        background: rgb(152,15,0); 
    } /* при нажатии */
}


.button_reset {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .3em .5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 20% 0%;
    transition-duration: .2s;
    transition-delay: .1s;
    &:hover { 
        color: #fff; /* цвет текста */
        background: rgb(232,95,76); 
    } /* при наведении курсора мышки */
    &:active { 
        color: #fff; /* цвет текста */
        background: rgb(152,15,0); 
    } /* при нажатии */
}

.button_show-more {
    color: #fff; /* цвет текста */
    text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: rgb(212,75,56); /* фон кнопки */
    padding: .7em 6em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    border-radius: 20% 0%;
    transition-duration: .2s;
    transition-delay: .1s;
    &:hover { 
        color: #fff; /* цвет текста */
        background: #e85f4c; 
    } /* при наведении курсора мышки */
    &:active { 
        color: #fff; /* цвет текста */
        background: rgb(152,15,0); 
    } /* при нажатии */   
}

.button_pay {
    @include mix_button_pay;
    padding: .9em;
    // width: 32em;

     
      &_width {width:80%;}
      &_width_70 {width:70%;}
      &_width_50 {width:50%;}
      &_width_full {width:calc(100% - 50px);}
}
 
.button_like_pos {
    margin-left: 1em;
    margin-top: .5em;
}


.button_with_icon {
    &_i {
        font-size: 150%;
        // text-align: start;
        vertical-align: middle;
        padding-right: 6px;
    }
}

.button_delicate {
    @extend .link_style_none;
    // color: #fff; /* цвет текста */
    // text-decoration: none; /* убирать подчёркивание у ссылок */
    user-select: none; /* убирать выделение текста */
    background: $light_blue_1; /* фон кнопки */
    padding: .3em .5em; /* отступ от текста */
    outline: none; /* убирать контур в Mozilla */
    // border-radius: 20% 0%;
    // transition-duration: .2s;
    // transition-delay: .1s;
    &:hover { 
        // color: #fff; /* цвет текста */
        background: $light_blue_2; 
    } /* при наведении курсора мышки */
    &:active { 
        // color: #fff; /* цвет текста */
        // background: $da_blue; 
    } /* при нажатии */
}