@mixin alone_card {
    padding: 0.7em;
    flex-flow: row wrap; 
}

@mixin price {
	font-size: 160%;
	font-weight: bold;
	padding-bottom: 0.25em;
	white-space: nowrap;
}

.container_img_text {
	width: 100%;
	height: 12em;
}