
    
    .contact {
        font-size: 150%;
        line-height: 200%;
        font-weight: bold;

        &_container {
            width: 23%;
            height: 35em;
            vertical-align: middle;
            margin: 3em 0em;
            }
    }