
    
    .contact {
        font-size: 120%;
        line-height: 180%;
        font-weight: bold;

        &_container {
            width: 20%;
            height: fit-content;
            vertical-align: middle;
            margin: 3em 0em;
            cursor: pointer;
            }
        &_img {
            width: 50%;
        }
    }