.form-row {
    position: relative;
  }
  .form-row input {
    margin-top: .8em;
    display: block;
    width: 100%;
    padding: 0 10px;
    line-height: 40px;
    background: none;
    border-width: 0;
    border-bottom: 2px solid $light_blue;
    transition: all 0.2s ease;
    &:hover {
      border-bottom: 2px solid $rose;
    } 
  }
  .form-row label {
    position: absolute;
    left: 12px;
    color: #9d959d;
    // font-size: 20px;
    font-weight: 300;
    transform: translateY(-35px);
    transition: all 0.2s ease;
  }
  .form-row input:focus {
    outline: 0;
    border-color: #F77A52;
  }
  .form-row input:focus + label, 
  .form-row input:valid + label {
    transform: translateY(-60px);
    margin-left: -13px;
    font-size: 90%;
    font-weight: 400;
    outline: 0;
    border-color: #F77A52;
    color: #F77A52;
  }