@mixin float_right { float: right; }


@mixin float_left { float: left; }

.float_right {
	float: right;
}

.icon {   
    height: 2.3em;
}

.logo {width:100%;}
  
.text-align {
text-align:center;
}


.visibility_hidden { visibility: hidden;  }
	
.disp_none { display: none;}
	
.flex_row{
	display: flex; 	
	flex-direction: row;
}

.flex_column{
	display: flex; 	
	  flex-direction: column;
}

.flex_flex-start {
	justify-content: flex-start;
}

.flex_flex-end {
	justify-content: flex-end;
}
	
.flex_flex-center {
	justify-content: center;
}

.flex_space-between {
	justify-content: space-between;
}

.flex_space-around {
	justify-content: space-around;
	}

.fix_width                                                         /*  ЦВЕТ !!!!!!!!!!! */
{
	max-width: 1420px;
	/* max-width: 64em; */
	/* width: 100vw; */
	
	  /* text-align: center; */
		/* max-width: 1600px; */
line-height: 165%;
// letter-spacing: 160%;
// letter-spacing: .05em; 
/* max-width: 80%; */
margin: 0 auto;
font-family: $font1, $font2, sans-serif;



/* background: brown; */
/* color: blue; */

}

.let_sp_01em {letter-spacing: 0.1em; }





// .bg-head {
/* background: radial-gradient(#F2B9B3 0.2px, transparent 0.9px); */
/* background-size: 20px 20px; */

/* background-image:  */
/* linear-gradient(-45deg, transparent 2px, #F2B9B3 1px, transparent 3px),  */
/* linear-gradient(45deg, transparent 2px, #F2B9B3 1px, transparent 3px); */
/* background-size: 6px 6px; */




    /* background-image: */
	/* linear-gradient(-450deg, transparent 1px, #f2f3f5 1px, transparent 3px),  */
	/* linear-gradient(450deg, transparent 1px, #f2f3f5 1px, transparent 3px); */
// }


.flex_item_img_text
{
	width:100%;
	flex: 0 1 auto;
}

// .column-2
// {
// 		width: calc(50% - 0.5em);
// 		  justify-content: space-between;
// }


// .column-2:nth-child(n+3){
// 	padding-top: 1em;
// }



.column-2
{
	width: calc((99% -0.5em)/2);
	justify-content: space-between;
}


.column-2:nth-child(n+3){
	padding-top: 1em;
}



.column-3
{
	width: calc((99% -0.5em)/3);
	justify-content: space-between;
	&:nth-child(n+2){
		margin-left: 2em;
	}
}




.blue_bg {                                                         /*  ЦВЕТ !!!!!!!!!!! */
//  background-color: #F0F8FF;	
background-color: $light_blue_2;
}

// .blue_bg {                                                         /*  ЦВЕТ !!!!!!!!!!! */
// 	//  background-color: #F0F8FF;	
// 	background-color: $bright;
// 	}

.img_width {
width: 100%;
}

.img_width_calc {
	width: calc(100% - 0.5em);
	// width: 90%;
}
	

/* .box:hover { */
/* border: 5px solid #1E90FF; */
/* width: 51%; */
/* height: 34%; */
/* } */


a {                                                         /*  ЦВЕТ !!!!!!!!!!! */
text-decoration: none;
cursor: pointer;
color: $gray;
	&:hover
	{                                                         /*  ЦВЕТ !!!!!!!!!!! */
		color: $red; /* Цвет ссылки */
	}
}


// .link_style_border {                                                         /*  ЦВЕТ !!!!!!!!!!! */
// text-decoration: none;
// color: $gray;
// }

.link_style_none:hover {                                                         /*  ЦВЕТ !!!!!!!!!!! */
	text-decoration: none;
	color: $gray;
	cursor: pointer;
}


.link_style_border:hover { 
	cursor: pointer;                                                        /*  ЦВЕТ !!!!!!!!!!! */
	border-bottom:solid 0.1em $red;
    /* text-decoration: underline; /* Делает ссылку подчеркнутой при наведении на нее курсора */
    color: $red; /* Цвет ссылки */
} 


.link_read-more {                                                           /*  ЦВЕТ !!!!!!!!!!! */
	text-decoration: none;	
	overflow: hidden;	
	cursor: pointer;
	
	/* padding-right: 30px; */
	font-size: .9em;
    /* color: #F5E2CD; */
	color: $purple;
	
}





.pos_left {
	margin-right: auto;
	// text-align: end;
	flex-direction: row-reverse;
}

.pos_left_for_text {
	text-align: left;
}
	

.pos_center {
	margin: auto;
	text-align: center;
}


.pos_center_for_div {
	margin: auto;
}

.pos_right {
	margin-left: auto;
}


.pos_right_for_div {
	margin: auto;
	text-align: right;
}

.pos_right_for_text {
	text-align: right;
}

.width_100 {
	width: 100%;
	}

.width_50 {
	width: 50%;
	}
	

.width_30 {
	width: 30%;
	}

.width_70 {
	width: 70%;
	}

.width_40 {
	width: 40%;
	}

.width_45 {
	width: 45%;
	}
	
.width_90 {
	width: 90%;
	}

.width_20 {
	width: 20%;
	}


.pagination {
	width: 40%;
	margin: auto;
	padding: 3em 0em;
	height: 2em;
	&_page_numbers {
		// border-bottom:solid 0.1em $red;
		// border-top:solid 0.1em $red;
		// border-right:solid 0.1em $red;
		// background: $light_blue_2;
		// color: #303030;
		// height: 2.5em;
		width: 100%;
		line-height: 40px;
		text-align: center;
		vertical-align: middle;
		font-size: 120%;
		height: fit-content;
		// margin: auto;
		// margin-left: 5px;
		// justify-content: center;
		&:hover {
			border-bottom:solid 0.1em $red;
		}
		&_active {
			color: $red;
		}
	}
	&_ellipsis {
		width: 100%;
		line-height: 40px;
		text-align: center;
		vertical-align: middle;
		font-size: 150%;
		cursor: default;
		&:hover {
			color: gray;
		}
	}
}




ul.breadcrumb {
	list-style: none;
	margin: 0em;
	padding: 0em 0em 1em 0em;
}

ul.breadcrumb li+li:before {
    padding: 0.5em;
    color: &gray;
	content: "ᐳ";
}

ul.breadcrumb li {
    display: inline;
    font-size: 110%;
}

.max_width_50em {max-width: 50em;}

.max_width_70em {max-width: 70em;}

.max_height_10em {max-height: 10em;}

.padding_2em {padding: 2em;}
.padding_bottom_1em {padding-bottom: 1em;}
.padding_top_2em {padding-top: 2em;}
.padding_bottom_2em {padding-bottom: 2em;}
.margin_2em {margin: 2em;}
.margin_top_1em {margin-top: 1em;}
.margin_bottom_1em {margin-bottom: 1em;}
.margin_top_2em {margin-top: 2em;}
.margin_top_3em {margin-top: 3em;}
.margin_top_4em {margin-top: 4em;}


.padding_left_2em {padding-left: 2em;}
.padding_left_1em {padding-left: 1em;}
.padding_left_4em {padding-left: 4em;}

.padding_bottom_4em {padding-bottom: 4em;}
.padding_top_4em {padding-top: 4em;}

.padding_right_4em {padding-right: 4em;}
.padding_right_2em {padding-right: 2em;}

.margin_top-bootom_1em { margin: 1em 0em;}
.margin_left-right_1em { margin: 0em 1em;}

.padding_top-bootom_1em { padding: 1em 0em;}

.cursor {cursor: pointer;}

.text_up {
	text-transform: uppercase;
}    


.border_top_bottom {
	border: none;
    border-top:solid $border_width $red;
	border-bottom:solid $border_width $dark_blue;
}

.border_none {
	border: none;
}


.border_fieldset_top {
	border: none; 
	border-top: solid $border_width_fat lightblue;
	&_legend {
		padding: 0em 1em;
		&_big {
			padding: 0em 1em;
			font-size: 140%;
		}
	}
}