

.header_disp_none {}



.header-top {
	width:100%;
	word-spacing:5px; 
	padding-bottom:20px; 
	text-align:center;

	&_container{                                                         /*  ЦВЕТ !!!!!!!!!!! */
		// height: 5em;
		padding-bottom:20px;
		padding-top:10px;
		display: flex; 	
		  flex-direction: row;
		  width: 100%;
		/* Распределяем элементы внутри шапки */
		/* justify-content: space-between; */
		 /* flex-wrap: wrap; */
		/* Выравниваем элементы вертикально по центру. */
		/* align-items: center; */
		
		
	/* background: blue; */
	}

	&_border{                                                         /*  ЦВЕТ !!!!!!!!!!! */
		// border-bottom:solid 0.1em $red;
		width: 100%;
		background-color: $light_blue_1;
	}

}



.header_container {
	&_height{
		// height: 13em;
	}
	&_social {
	justify-content: space-around;
	width: 25%;
	    height: 60%;
		 /* margin-top: 1em; */
		 align-items: center;
		 align-self: center;
	}
	&_mail_phone {
		align-items: center;
	align-self: center;
	}
}


.header_social_mail {  margin: auto; }
.header_social_phone {  margin: auto; }


.header-bottom {width:100%; word-spacing:5px; padding-bottom:10px; }
  
  
.header-margin_left-top{

	margin-left: 5em;
	margin-top: 1em;
	/* width: 9%; */
	height: 3em;
		/* word-spacing: 5px; */

}

  
.header-logo {
	width: 6em;
	&_name {
		margin-top: 1em;
		font-size: 2em;
	}
}
 

.header_navbar {
	padding-top: 1em;
	// margin: 0em auto;
	ul {                                                         /*  ЦВЕТ !!!!!!!!!!! */
		display: table-row;
	}
	li {                                                         /*  ЦВЕТ !!!!!!!!!!! */
		display: table-cell;
		background: white;
	}
	ul li:hover, .menu a:hover {                                 /*  ЦВЕТ !!!!!!!!!!! */
		/* background: gray; */ 
		   border-bottom:solid 0.1em $red;
	   }
	li a {                                                         /*  ЦВЕТ !!!!!!!!!!! */
		display: block;
		padding: 0.8em 2.5em;

		text-align: center;
	}
	&_active {color: $red;}
}




.second_menu {
	padding: 1em 0em;
	background: $light_blue_1;
	ul {                                                         /*  ЦВЕТ !!!!!!!!!!! */
		display: table-row;
	}
	li {                                                         /*  ЦВЕТ !!!!!!!!!!! */
		display: table-cell;
		background: white;
		border-bottom:solid 0.1em white;
	}
	ul li:hover, .menu a:hover {                                 /*  ЦВЕТ !!!!!!!!!!! */
		/* background: gray; */ 
		   border-bottom:solid 0.1em $red;
	   }
	li a {                                                         /*  ЦВЕТ !!!!!!!!!!! */
		display: block;
		padding: 1em 2.5em;

		text-align: center;
	}
	&_active {color: $red;}
}


.header_i {
	font-size: 2.5rem;
	&_vk:hover {
		color: #4c75a3;
	}
	&_tlg:hover {
		color: #0088cc;
	}
	&_ig:hover {
		// color: #fff; 
		// 	border-radius: 5px; 
			// color: #f09433; 
			// color: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
			// color: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
			// color: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 ); 
			color: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
			// background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
			color:#c13584;
	}
	&_wa:hover {
		color: #25D366;
	}
	&_for_div {
		background-color: $light_blue_1;
		/* padding: 1rem; */
		border-radius: 50%;
		width: 3.3rem;
		height: 3.3rem;
		// width: 2.5rem;
		// height: 2.5rem;
	}
}










.header {
	background-color: #fff;
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	// position: fixed;
	// position: absolute;
	width: 100%;
	z-index: 3;
	right: 0;
	@media (min-width: 768px) {
		display: none;
	}
  }
  
  .header ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
  }
  
  .header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
	text-decoration: none;
	text-transform: uppercase;
  }
  
  .header li a:hover,
  .header .menu-btn:hover {
	background-color: #f4f4f4;
  }
  
  .header .logo {
	display: block;
	float: left;
	// font-size: 2em;
	// padding: 10px 20px;
	text-decoration: none;
  }
  
  /* menu */
  
  .header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .5s ease-out;
  }
  
  /* menu icon */
  
  .header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: 50px 20px;
	position: relative;
	user-select: none;
  }
  
  .header .menu-icon .navicon {
	background: #333;
	display: block;
	height: 4px;
	position: relative;
	transition: background .2s ease-out;
	width: 30px;
  }
  
  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
  }
  
  .header .menu-icon .navicon:before {
	top: 9px;
  }
  
  .header .menu-icon .navicon:after {
	top: -9px;
  }
  
  /* menu btn */
  
  .header .menu-btn {
	display: none;
  }
  
  .header .menu-btn:checked ~ .menu {
	// max-height: 410px;
	max-height: 45em;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon {
	background: transparent;
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:before {
	transform: rotate(-45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon .navicon:after {
	transform: rotate(45deg);
  }
  
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
	top: 0;
  }
  
  /* 48em = 768px */
  
  @media (min-width: 48em) {
	.header li {
	  float: left;
	}
	.header li a {
	  padding: 20px 30px;
	}
	.header .menu {
	  clear: none;
	  float: right;
	  max-height: none;
	}
	.header .menu-icon {
	  display: none;
	}
  }
  