// Средние девайсы («таблетки», >= 768px) 
@media (min-width: 768px) and (max-width: 991.98px) 
{ 
    // .fix_width {
    //     width: 95%;
    //     margin: auto;
    // }
    .header_navbar {
        padding-top: 0em;
        margin: 0em auto; 
    }
    .header_navbar li a {
        padding: 0.8em 1.5em;
    }
    .pagination {
        width: 60%;
    }
    .widget_section {
        width: 25%;
    }
    .order_card_type_state {
        float: none;
    }
    .contact_container {
        width: 50%;
    }
    .order_search_size {
        width: 100%;
    }
    
    .review_card_software {
        .software_alone_container {
            height: fit-content;
        }
        .software_price {
            padding-top: 0em;
        }
        .flex_row {
            flex-wrap: wrap;
        }
        .software_container_image_button {
            width: 100%;
            padding-right: 0em;
        }
        .software_button-pay_style_width {
            width: 80%;
        }
        .article_div_text {
            width: 100%;
            margin-top: 1em;
        }
    }
    .reviews_search_size {
        width: 85%;
        padding-bottom: 3em;
    }  
}





@media (min-width: 768px) and (max-width: 929.98px) {

    .catalog_card_software {
        .software_alone_container {
            height: fit-content;
        }
        .software_price {
            padding-top: 0em;
        }
        .flex_row {
            flex-wrap: wrap;
        }
        .software_container_image_button {
            width: 100%;
            padding-right: 0em;
        }
        .software_button-pay_style_width {
            width: 80%;
        }
        .article_div_text {
            width: 100%;
            margin-top: 1em;
        }
    }
    .software_column-2 {
        width: 70%;
        margin: 0em auto;
        &:nth-child(n+2){
            padding-top: 1em;
        }
    }
    .software_left_column {
        width: 30%;
    }
    .software_price {
        float: none;
    }
    .reviews_all {
        flex-wrap: wrap;
    }
    .reviews {
        width: 70%;
        margin: 0em auto;
        &:nth-child(1) {
            // padding: 0em;
            padding: 0em 0em 1em 0em;
            border: none;
            margin-bottom: 3em;
            // border-left: dotted 0.2em #D9756C;
            // border-right: dotted 0.2em #D9756C;
            border-bottom: dotted 0.2em #D9756C;
        }
        &:nth-child(2) {
            padding: 0em 0em 1em 0em;
            border: none;
            margin-bottom: 3em;
            border-bottom: dotted 0.2em #D9756C;
        }
        &:nth-child(3) {
            padding: 0em 0em 1em 0em;
            border: none;
            margin-bottom: 3em;
        }
    }
}

@media (min-width: 930px) and (max-width: 1129.98px) {
    .software_column-2 {
        width: 90%;
        margin: 0em auto;
        &:nth-child(n+2){
            padding-top: 1em;
        }
    }
    .software_left_column {
        width: 30%;
    }
}

@media (min-width: 1130px) {
    .software_column-2 {
        width: calc((99% -0.5em)/2);
        justify-content: space-between;
    }
}
