.order {
    &_card {
        border: solid $border_width $red;
        padding: 1em;
        line-height: 250%;
        font-size: 80%;
        height: 23em;
        legend { padding: 0em .5em;
            font-weight: bold;
        font-size: 120%;}
        &_type_state {
            @include float_right;
            width: fit-content;
            padding: 1.5em;
            // margin-bottom: 1em;
            // border:solid $border_width_fat $light_rose;
            border:solid $border_width_fat $light_blue;

            // background-color:$light_rose;
            &_small {
                width: fit-content;
                padding: .6em;
               
            }
        }
    }
    &_type {

        font-size: 110%;
        font-weight: bold;
        // vertical-align: middle;
        // margin: auto
        // margin: auto 0em;
        vertical-align: top;
        &_i {
            font-size: 180%;
            color: $dark_blue;
            // margin: auto 0em;
            // padding-left: 1em;
        }
    }
    &_state {
        font-size: 130%;
        font-weight: bold;
        // color: $yellow;
        padding-top: .5em;
        &_dev {

            font-size: 130%;
            font-weight: bold;
            color: $yellow;
        }

    }
    &_chat {
        font-size: 130%;
        font-weight: bold;

        &_i {
            font-size: 150%;
            vertical-align: middle;
            color: $red_intense;
        }
    }
    &_pay {
        font-size: 130%;
        // font-weight: bold;
        line-height: 170%;
        padding: 1em;

        border-left:solid 0.1em $light_blue;
    }
    &_text {
        font-size: 110%;
        line-height: 160%;
    }
}