$dark_blue: #207D90;
$light_blue: #7EB9BF;
$light_blue_1: #DAF3F5;
$red: #D9756C;
$rose:#F2B9B3;
$light_blue_2: #F0F8FF;
$gray: #2F4F4F;
$purple: #9370DB;
$bright: #F2F2F2;
$font1: 'Montserrat';
$font2: 'Arial';
$size_120: 120%;
$size_150: 150%;

// Новые цвета:
$blue2: #929AEB;
$blue3: #8A79D4;