.widget {
    // width: 20em;
    &_disp {}
    max-height: 25em;
    padding: .7em;
    cursor: pointer;
    border:solid $border_width $light_blue;
    background-color: white;

    &_marker::before {
        /* list-style-image:url(icons/marker_list.png); */
        content: "\273D";
        display: inline-block; /* Расстояние между точкой и текстом */
        // width: 1.4em;
      }
      &_list {
        font-size: 80%; 
        margin-block-start: 0em;
        padding-inline-start: 0em;
        line-height: 160%;
        overflow: hidden;
        list-style: none;
        height: 5.5em;	
      }
      &:hover { 
        // color: #fff; /* цвет текста */
        // background-color: opacify($light_blue_2, 00.1em); 
        background: $light_blue_2; 
    } /* при наведении курсора мышки */

    &_arrows {
        font-size: 300%;
        color: $light_blue;
        cursor: pointer;
        &:hover { color: $dark_blue; }
    }

    &_section{
        width: 20%;
        &:nth-child(n+3){
            padding-left: 3em;
        }
    }


    &_article_box {
        position: relative;
        margin: auto;
        // padding: 1em;
        &_text {
        
            background: rgba(255, 255, 255, 0.9);
            padding: 0.3em;
            width: fit-content;
            height: fit-content;
            position: absolute;
            color: #000000;
            right: 0;
            top: 0;
            letter-spacing: 1px;
        }
    }
    
}
.widget_div {
    &_img {
        width: 100%;
    }
    &_title {
        padding-left: .5em;
        padding-bottom: .5em;
        text-align: center;
        line-height: 140%;
        margin: auto;
        font-size: 110%;  
        flex-grow: 2;
    }
    &_date {
        text-align: center;
        font-size: 80%;  
        margin: auto;
    }  
}



