.widget {
    width: 20em;
    // height: 30em;
    padding: 1.5em;
    cursor: pointer;
    border:solid 0.1em $red;
    &_marker::before {
        /* list-style-image:url(icons/marker_list.png); */
        content: "\273D";
        display: inline-block; /* Расстояние между точкой и текстом */
        // width: 1.4em;
      }
      &_list {
        margin-block-start: 0em;
        padding-inline-start: 0em;
        line-height: 160%;
        overflow: hidden;
        list-style: none;
        height: 5.5em;	
      }

}
.widget_div {
    &_img {
        width: 100%;
    }
    &_title {
        padding-left: .5em;
        text-align: center;
        margin: auto;
        font-size: 130%;  
        flex-grow: 2;
    }
    &_date {
        text-align: center;
        font-size: 120%;  
        margin: auto;
    }  
}