// Экстрамалые девайсы («портретные телефоны», < 576px)
@media (max-width: 575.98px) 
{ 
    .column-2 {
        justify-content: space-between;
        width: 100%;
        margin: auto;
        &:nth-child(n+2){
            padding-top: 1em;
        }
    }
    .column-3 {
        justify-content: space-between;
        width: 100%;
        margin: auto;
        &:nth-child(n+2){
            margin-left: 0em;
            padding-top: 1em;
        }
    }
    .pagination {
        width: 100%;
    }
    .pagination_ellipsis {
        width: 10%;
    }
    .pagination_page_numbers {
        width: 10%;
    }
    .software_container_width {
        width: 100%;
        margin: auto;
    }
    .software_left_column {
        width: 100%;
    }
    .article_search_size {
        width: 100%;
        margin: auto;
    }
    .widget_disp {
        display: none;
    }
    .software_container {
        width: 100%;
    }
    .software_alone_container {
        height: fit-content;
    }
    .software_container_image_button {
        width: 100%;
        padding-right: 0em;
    }
    .widget_disp_two {
        display: none;
    }
    .widget_disp_three {
        display: none;
    }
    .widget_section {
        width: 65%;
    }
    .order_card_type_state {
        padding: .5em;
        float: none;
        // margin-left: 0;
        margin-bottom: 1em;
    }
    // .order_type {
    //     // font-size: 100%;
    // }
    // // .order_state_dev {
    // //     font-size: 100%;
    // // }
    // .order_text {
    //     // font-size: 100%;
    // }
    // .chat_comment_text {
    //     // font-size: 90%;
    // }
    .button_show-more {
        padding: .7em 3em;
    }
    .article_div_text {
        width: 100%;
        margin-top: 1em;
    }
    .article_read-more_text-align {
        text-align: center;
        margin-bottom: 0.5em;
    }
    .article_start-of-article {
        padding-left: 0em;
    }
    .software_price {
        padding-top: 0em;
    }
    .discussion {
        width: 100%;
    }
    .contact_container {
        width: 100%;
    }
    .order_pay {
        border: none;
        padding: 0em;
    }
    .order_type_i {
        font-size: 2rem;
    }
    .software_div_name {
        overflow: auto; 
        height: auto;
    }
    .order_card {
        height: auto;
    }
    .reviews_search_size {
        width: 100%;
        padding-bottom: 3em;
    }
    .reviews_alone_container {
        padding: 1em;
        height: auto;
    }
    .header-logo_name {
        font-size: 1.5em;
    }
}
